{%extends 'base.html'%}
{% block content %}

<div class="container">
    <div class="mx-auto card mb-4" style="width: 40rem;">
        <div class="card-body">
            <div class="storyBox">
                <p class="card-text" id="theStory">No story yet!</p>
            </div>
            <h5 class="card-title">Story:</h5>
            <h5 class="card-title">Title: {%if story.name%}{{story.name}}{%else%}N/A{%endif%}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Description: {%if
                story.description%}{{story.description}}{%else%}N/A{%endif%}</h6>
            <h5 class="card-title">Response:</h5>
            <h5 class="card-title">Title: {{responseSet.title if responseSet.title else "N/A"}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Description: {%if
                responseSet.description%}{{responseSet.description}}{%else%}N/A{%endif%}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">Submitted By: {%if
                responseSet.user%}{{responseSet.user}}{%else%}N/A{%endif%}</h6>
            <a href="{{url_for('play.randomStory')}}" class="card-link">Random Response</a>
            <a href="{{url_for('play.respond', storyId=story.id)}}" class="card-link">Submit Your Own</a>
        </div>
    </div>
</div>

{%endblock%}

{% block scripts %}
{{super()}}
<script>



    const replaceStartChar = "~["
    const replaceEndChar = "]~"
    const sepChar = "|"
    const namedTag = "*"
    let storyText = `{{story.text}}`
    const listOfBlankInfo = [
    {% for thisResponse in responseSetBlankInfo %}
        {
        {% for thisProperty in thisResponse.keys() %}
        "{{thisProperty}}": "{{thisResponse[thisProperty]}}",
        {% endfor %}
        },
    {% endfor %}
    ]
    listOfBlankInfo.sort((resp) => Number(resp["blank_pos"])).forEach((thisResponse) => {
        const startOfBlankPos = storyText.indexOf(replaceStartChar)
        const nextSepCharPos = storyText.indexOf(sepChar, startOfBlankPos)
        const endOfBlankPos = storyText.indexOf(replaceEndChar, startOfBlankPos)
        const blankIsNamed = thisResponse['blank_named'] == "True"
        let replaced = ""
        if (nextSepCharPos === -1 || nextSepCharPos > endOfBlankPos) {
            replaced = storyText.slice(startOfBlankPos + replaceStartChar.length, startOfBlankPos + replaceStartChar.length + thisResponse['blank_name'].toString().length)
        }
        else replaced = storyText.slice(startOfBlankPos + replaceStartChar.length, startOfBlankPos + replaceStartChar.length + thisResponse['blank_name'].toString().length + sepChar.length + thisResponse['blank_hint'].toString().length)
        const sep = thisResponse.blank_hint ? ` ${sepChar} ` : ""
        const blankTextEl = `
        <div class="filledBlank">
            <strong>` + thisResponse['blank_text'] + `</strong>
            <span class="filledBlankHint">${thisResponse.blank_name}${sep}${thisResponse.blank_hint}</span>
        </div>`
        if (blankIsNamed) {
            const replaceable = replaceStartChar + namedTag + thisResponse['blank_name'].toString();
            while (storyText.includes(replaceable)) {
                const repStart = storyText.indexOf(replaceable);
                if (repStart == -1) break;
                const repEnd = storyText.indexOf(replaceEndChar, repStart) + replaceEndChar.length;
                if (repEnd == -1) break;
                const tempReplaceable = storyText.slice(repStart, repEnd);
                storyText = storyText.replace(tempReplaceable, blankTextEl);
            }
        } else {
            const replaceable = replaceStartChar + thisResponse['blank_name'].toString() + sep + thisResponse['blank_hint'].toString() + replaceEndChar;
            storyText = storyText.replace(replaceable, blankTextEl)
        }

    })

    let txt = document.createElement("textarea")
    txt.innerHTML = storyText;

    const theStoryEl = document.getElementById('theStory')
    theStoryEl.innerHTML = txt.value;
</script>
{% endblock %}