DB_TRACK_MODIFICATIONS=False
FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=generateabettersecretkeyplz
HOST_ADDR="0.0.0.0"
HOST_PORT=5000
CELERY_BROKER_URL = redis://localhost:6379
RESULT_BACKEND = redis://localhost:6379
CONFIG_TYPE = 'config.DevelopmentConfig'