{%extends 'base.html'%} 
{% block content %}

<div class="titleBox">
    <div class="titleCard">
        <h4>Story: {{story.name}}</h4>
        <br />
        <hr />
        <h4>Description: {{story.description}}</h4>
    </div>
</div>

<div class="storyBox">
    <p id="theStory">No story yet!</p>
</div>

<div class="submittedBlock">
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{responseSet.user}}</td>
                <td>{{responseSet.title}}</td>
                <td>{{responseSet.description}}</td>
            </tr>
        </tbody>
    </table>
</div>

{%endblock%}

{% block scripts %}
{{super()}}
<script>
    let responseList = [
{% for thisResponse in responses %}
    {% set story_blank_id = thisResponse['story_blank_id'] %}
    {% set thisBlank = {}%}

    {% for blank in responseSetBlankInfo %}
        {% if blank['story_blank_id']==thisResponse['story_blank_id'] %}
            {
                'story_blank_id': {{ thisResponse.story_blank_id }},
                'text': '{{ thisResponse.text }}',
                'blank_name': '{{blank.blank_name}}',
                'blank_hint': '{{blank.blank_hint}}'
            },
        {% endif %}
    {% endfor %}
{% endfor %}
    ]
    console.log("This blank:")
    console.log({{thisBlank}})
    console.log("Response list:")
    console.log(responseList)
    const replaceStart = "~+"
    const replaceEnd = "+~"
    let storyText = "{{story.text}}"
    responseList.forEach((thisResponse) => {
        const start = storyText.indexOf(replaceStart+thisResponse['story_blank_id'])
        const replaced = storyText.slice(start+replaceStart.length, start+replaceStart.length+thisResponse['story_blank_id'].toString().length)
        const sep = thisResponse.blank_hint ? " | " : ""
        const blankText = `
        <div class="filledBlank">
            <strong>` + thisResponse['text'] + `</strong>
            <span class="filledBlankHint">${thisResponse.blank_name}${sep}${thisResponse.blank_hint}</span>
        </div>`
        storyText =storyText.replace(replaceStart+thisResponse['story_blank_id'].toString()+replaceEnd, blankText)
    })

    let txt = document.createElement("textarea")
    txt.innerHTML = storyText;

    const theStoryEl = document.getElementById('theStory')
    theStoryEl.innerHTML = txt.value;

</script>
{% endblock %}