{%extends 'base.html'%}
{% block content %}

<div class="container">
    <div class="mx-auto card mb-4" style="width: 40rem;">
        <div class="card-body">
            <div class="storyBox">
                <p class="card-text" id="theStory">No story yet!</p>
            </div>
            <h5 class="card-title">Story:</h5>
            <h5 class="card-title">Title: {%if story.name%}{{story.name}}{%else%}N/A{%endif%}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Description: {%if story.description%}{{story.description}}{%else%}N/A{%endif%}</h6>
            <h5 class="card-title">Response:</h5>
            <h5 class="card-title">Title: {{responseSet.title if responseSet.title else "N/A"}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Description: {%if responseSet.description%}{{responseSet.description}}{%else%}N/A{%endif%}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">Submitted By: {%if responseSet.user%}{{responseSet.user}}{%else%}N/A{%endif%}</h6>
            <a href="{{url_for('play.randomStory')}}" class="card-link">Random Response</a>
            <a href="{{url_for('play.respond', storyId=story.id)}}" class="card-link">Submit Your Own</a>
        </div>
    </div>
</div>



{%endblock%}

{% block scripts %}
{{super()}}
<script>
    let responseList = [
{% for thisResponse in responses %}
    {% set story_blank_id = thisResponse['story_blank_id'] %}
    {% for blank in responseSetBlankInfo %}
        {% if blank['story_blank_id']==thisResponse['story_blank_id'] %}
            {
                'story_blank_id': {{ thisResponse.story_blank_id }},
                'text': '{{ thisResponse.text }}',
                'blank_name': '{{blank.blank_name}}',
                'blank_hint': '{{blank.blank_hint}}'
            },
        {% endif %}
    {% endfor %}
{% endfor %}
    ]
    const replaceStart = "~+"
    const replaceEnd = "+~"
    let storyText = `{{story.text}}`
    responseList.forEach((thisResponse) => {
        const start = storyText.indexOf(replaceStart+thisResponse['story_blank_id'])
        const replaced = storyText.slice(start+replaceStart.length, start+replaceStart.length+thisResponse['story_blank_id'].toString().length)
        const sep = thisResponse.blank_hint ? " | " : ""
        const blankText = `
        <div class="filledBlank">
            <strong>` + thisResponse['text'] + `</strong>
            <span class="filledBlankHint">${thisResponse.blank_name}${sep}${thisResponse.blank_hint}</span>
        </div>`
        const replaceable = replaceStart+thisResponse['story_blank_id'].toString()+replaceEnd;
        while (storyText.includes(replaceable)){
            storyText =storyText.replace(replaceable, blankText)
        }

    })

    let txt = document.createElement("textarea")
    txt.innerHTML = storyText;

    const theStoryEl = document.getElementById('theStory')
    theStoryEl.innerHTML = txt.value;

</script>
{% endblock %}