{%extends 'base.html'%} {% block content %}
<div class="py-2 text-center">
  <div class="container mt-1">
    <div class="p-2 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">{{storyName}}</h1>
      <p class="lead">{{storyDescription}}</p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <form class="form-floating" action="" method="POST">
      {% for i, thisRequest in enumerate(blanks) %}
      <div class="row">
        <div class="border border-primary-subtle rounded-2 mb-2">
          <div class="form-floating mt-4">
            <input
              class="form-control overflow-scroll"
              aria-labelledby="response-label-{{thisRequest.id}} response-field-hint-label-{{thisRequest.id}}"
              aria-label="Text response to prompt"
              name="response"
              id="response-field-{{thisRequest.id}}"
              type="text"
              required
            />
            <label
              for="response-field-{{thisRequest.id}}"
              class="form-label"
              id="response-label-{{thisRequest.id}}"
            >
              Prompt: {{thisRequest.name}}, Hint: {{thisRequest.hint if
              thisRequest.hint else "(none)"}}
            </label>
          </div>

          <br />
        </div>
      </div>
      {% endfor %}
      <div class="row border border-secondary-subtle rounded-2 pb-2 mb-2">
        <div class="gy-3">
          <label class="form-label" for="userName">Your Name:</label>
          <input
            class="form-control"
            type="text"
            name="userName"
            id="userName"
          />
          <label class="form-label" for="responseTitle"
            >Title for Your Response:</label
          >
          <input
            class="form-control"
            type="text"
            name="responseTitle"
            id="responseTitle"
          />
          <label class="form-label" for="responseDescription"
            >Description of Your Response:</label
          >
          <input
            class="form-control"
            type="text"
            name="responseDescription"
            id="responseDescription"
          />
        </div>
        <input type="hidden" name="story_id" value="{{storyId}}" />
      </div>
      <div class="row">
        <button class="w-100 btn btn-primary btn-lg" type="submit">
          Submit Responses
        </button>
      </div>
    </form>
  </div>
</div>
{%endblock%}
