{%extends 'base.html'%} {% block content %}
<div class="titleBox">
  <div class="titleCard">
    <h4>Story: {{storyName}}</h4>
    <h4>Description: {{storyDescription}}</h4>
  </div>
</div>

<form action="" method="POST">
  <ul>
    {% for i, thisRequest in enumerate(blanks) %}
    <li>
      <label for="response">{{thisRequest.name}}</label>

      <p>{% if thisRequest.hint %}Hint: {{thisRequest.hint}}{% endif %}</p>

      <input name="response" id="response" type="text" />
    </li>
    <br />
    {% endfor %}
  </ul>

  <label for="userName">Your Name:</label>
  <input type="text" name="userName" id="userName" />
  <label for="responseTitle">Title for Your Response:</label>
  <input type="text" name="responseTitle" id="responseTitle" />
  <label for="responseDescription">Description of Your Response:</label>
  <input type="text" name="responseDescription" id="responseDescription" />

  <input type="hidden" name="story_id" value="{{storyId}}" />

  <input type="submit" value="Submit Responses" />
</form>

{%endblock%}
