{% extends 'base.html'%}
{%block title%}{{super()}} - Create Home{%endblock%}

{%block content %}

<h2>Create!</h2>

<div
  class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
>
  <div class="list-group">    
    <a
      href="{{url_for('create.newStory')}}"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      aria-current="true"
    >
      ✍️
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Story</h6>
          <p class="mb-0 opacity-75">
            Create a new story for others to fill in.
          </p>
        </div>
      </div>
    </a>
    <a
      href="{{url_for('create.newTag')}}"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      aria-current="true"
    >
      🏷️
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Tag</h6>
          <p class="mb-0 opacity-75">
            Create a tag to help label stories.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>

{%endblock%}