body,
header {
  background-color: darkslategray;
  color: rgb(49, 99, 0);
}

h1 {
  color: green;
}

.error {
  color: red;
}

.flashes {
  list-style: none;
  display: flex;
  justify-content: center;
}

p {
  margin-bottom: 0rem;
}

.form-label {
  margin-bottom: 0rem;
}

/* form div {
  margin: 10px 0;
}

label {
  display: inline-block;
  width: 120px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid green;
  border-radius: 10px;
  background-color: darkgoldenrod;
} */

/* .storyListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.storyList {
  border: 2px dashed blue;
  border-radius: 10px;
  background-color: cadetblue;
  min-width: 50em;
}

.storyList tr {
  border: 1px dashed green;
  border-radius: 2px;
  background-color: coral;
}

.storyList td {
  min-width: 5em;
  width: auto;
} */

/* .titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleCard {
  border: 2px green dashed;
  border-radius: 10px;
  background-color: blueviolet;
  min-width: 50em;
} */

.storyBox {
  border: 4px green double;
  border-radius: 20px;
  background-color: dimgrey;
  margin: 2em;
  padding: 2em;
  color: antiquewhite;
}

table {
  border: 2px ridge green;
  border-radius: 10px;
  background-color: darksalmon;
}

td,
th {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}
.submittedBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-width: 50em;
}


/* From https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.filledBlank {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
}

/* Tooltip text */
.filledBlankHint {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.filledBlank:hover .filledBlankHint {
  visibility: visible;
}