body,
header {
  background-color: darkslategray;
  color: rgb(49, 99, 0);
}

h1 {
  color: green;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.error {
  color: red;
}

.flashes {
  list-style: none;
  display: flex;
  justify-content: center;
}

form div {
  margin: 10px 0;
}

label {
  display: inline-block;
  width: 120px;
}

form {
  border: 2px solid green;
  border-radius: 10px;
  background-color: darkgoldenrod;
}

.storyListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.storyList {
  border: 2px dashed blue;
  border-radius: 10px;
  background-color: cadetblue;
  min-width: 50em;
}

.storyList tr {
  border: 1px dashed green;
  border-radius: 2px;
  background-color: coral;
}

.storyList td{
  min-width: 5em;
  width: auto;
}