<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="{{url_for('main.home')}}"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="{{url_for('static', filename='logo.svg')}}" alt="Top Hat logo image" width="36" height="30"
        class="d-inline-block align-text-top" />
      The Maddest Libber
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="{{url_for('main.home')}}" class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{url_for('play.home')}}" class="nav-link">Play</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{url_for('create.home')}}" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Create
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{url_for('create.home')}}">Create Home</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="{{url_for('create.newTag')}}">Tag</a></li>
        </ul>
      </li>
    </ul>
  </header>
</div>